Repository fuyuntsuo/sof, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @singalsu, @ranj063, @bardliao, @xiulipan, @mrajwa, @tlauda, @libinyang, @jajanusz

component: no need to writeback/invalidate
  src/audio/component.c
  src/audio/pipeline/pipeline-graph.c
  src/include/sof/audio/component.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

use the list_coherent_item_try() version
  src/audio/buffer.c
  src/audio/host.c
  src/audio/volume/volume.c
  src/include/sof/ipc/topology.h
  src/ipc/ipc-common.c
  src/ipc/ipc3/helper.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @xiulipan, @bardliao

asrc: use buffer_acquire and release flows for coherent buffer access
  src/audio/asrc/asrc.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

buffer: reset: use buffer_acquire and release flows for coherent buffer access
  src/include/sof/audio/buffer.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

increase power gating delay:
  src/platform/intel/cavs/include/cavs/lib/pm_memory.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

componext_ext: comp_shared_commit() does nothing, remove it
  src/include/sof/audio/component_ext.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

component: use buffer_acquire and release flows for coherent buffer access
  src/include/sof/audio/component.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

host/dai: acquire buffer during params
  src/audio/dai.c
  src/audio/host.c
  src/audio/pipeline/pipeline-params.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

pipeline: params: check only calling buffer once.
  src/audio/buffer.c
  src/audio/pipeline/pipeline-params.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

buffer: use buffer_acquire and release flows for coherent buffer access
  src/audio/buffer.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

WIP: multicore: cached buffer should only be used when lock held
  src/audio/buffer.c
  src/include/sof/audio/buffer.h
  src/include/sof/common.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

host: use buffer_acquire and release flows for coherent buffer access
  src/audio/host.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

coherent updates WIP3
  src/audio/buffer.c
  src/idc/idc.c
  src/include/sof/audio/buffer.h
  src/include/sof/coherent.h
  src/include/sof/ipc/common.h
  src/include/sof/ipc/topology.h
  src/ipc/ipc-common.c
  src/ipc/ipc-helper.c
  src/ipc/ipc3/dai.c
  src/ipc/ipc3/handler.c
  src/ipc/ipc3/helper.c
  src/lib/alloc.c
  src/probe/probe.c
  src/trace/trace.c
  test-coherent.c
  test/cmocka/src/common_mocks.c
  tools/testbench/common_test.c
  tools/testbench/testbench.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @xiulipan, @bardliao, @libinyang

Revert "Revert "pipeline/buffer: alloc them in the runtime shared zone""
  src/audio/buffer.c
  src/audio/pipeline/pipeline-graph.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

mixer: use buffer_acquire/release
  src/audio/mixer.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

ipc: helper: use buffer_acquire and release flows for coherent buffer access
  src/ipc/ipc-helper.c
Owners: @xiulipan, @bardliao

improve ipc_comp_dai_config()
  src/ipc/ipc3/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology1: cavs-nocodec: use dynamic pipelines and multiple cores
  tools/topology/topology1/sof-cavs-nocodec.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dai: use buffer_acquire and release flows for coherent buffer access
  src/audio/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

crossover: use buffer_acquire and release flows for coherent buffer access
  src/audio/crossover/crossover.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

coherent: release comp fixes
  src/audio/buffer.c
  src/audio/pipeline/pipeline-graph.c
  src/ipc/ipc3/handler.c
  src/ipc/ipc3/helper.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

ipc3:dai: use list_for_coherent_item() in ipc_comp_dai_config()
  src/ipc/ipc3/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

[SQUASHME]host: use buffer instead of hd->local_buffer
  src/audio/host.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

multiband_drc: Add switch control for enabling DRC
  src/audio/multiband_drc/multiband_drc.c
  src/include/sof/audio/multiband_drc/multiband_drc.h
  tools/topology/topology1/CMakeLists.txt
  tools/topology/topology1/m4/multiband_drc.m4
  tools/topology/topology1/sof/pipe-drc-eq-volume-demux-playback.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

WIP: TDFB Improve directivity index and WNG
  tools/tune/tdfb/bf_defaults.m
  tools/tune/tdfb/bf_design.m
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

WIP: testbench cache and multithread support3
  src/platform/library/schedule/ll_schedule.c
  tools/testbench/common_test.c
  tools/testbench/file.c
  tools/testbench/include/testbench/common_test.h
  tools/testbench/include/testbench/file.h
  tools/testbench/testbench.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

context: make sof context shared.
  src/init/init.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

compile: use __attribute__((fallthrough)) with GCC
  src/include/sof/compiler_attributes.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

kconfig: allow SOF Kconfig to be included in other projects
  Kconfig
  Kconfig.sof
  zephyr/Kconfig
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology1: make all cavs nocodec topologies dynamic
  tools/topology/topology1/CMakeLists.txt
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

edma: add convert addr func
  src/drivers/imx/edma.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

sof: Add address convert function on memory header for every platform
  src/ipc/ipc3/host-page-table.c
  src/platform/apollolake/include/platform/lib/memory.h
  src/platform/baytrail/include/platform/lib/memory.h
  src/platform/cannonlake/include/platform/lib/memory.h
  src/platform/haswell/include/platform/lib/memory.h
  src/platform/icelake/include/platform/lib/memory.h
  src/platform/imx8/include/platform/lib/memory.h
  src/platform/imx8m/include/platform/lib/memory.h
  src/platform/imx8ulp/include/platform/lib/memory.h
  src/platform/intel/cavs/include/cavs/lib/memory.h
  src/platform/library/include/platform/lib/memory.h
  src/platform/suecreek/include/platform/lib/memory.h
  src/platform/tigerlake/include/platform/lib/memory.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

docker: Add support for i.MX8ULP platform
  scripts/docker_build/sof_builder/Dockerfile
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

cache: make sure all shared data is cache line size aligned.
  src/platform/intel/cavs/include/cavs/lib/memory.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

drivers: imx: Compile ESAI support as separate driver
  src/drivers/imx/CMakeLists.txt
  src/drivers/imx/Kconfig
  src/platform/Kconfig
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @tlauda

topology: remove side effects from macro definitions
  tools/topology/topology1/sof/pipe-passthrough-capture.m4
  tools/topology/topology1/sof/pipe-passthrough-playback.m4
  tools/topology/topology1/sof/pipe-volume-playback.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

platform: imx8ulp: dai: Change capture offset
  src/platform/imx8ulp/lib/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

idc: tell users which IDC message timed out.
  src/drivers/intel/cavs/idc.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

ssp: make the trigger(START|STOP) wait delay in consumer mode only.
  src/drivers/intel/ssp/ssp.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

Volume: delete invalid check
  src/audio/volume/volume.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
src/include/sof/dmic.h			@singalsu
src/include/host/*			@ranj063
src/include/uapi/*			@bardliao
src/include/uapi/ipc/*			@xiulipan @bardliao
src/include/gdb/*			@mrajwa

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/fir*				@singalsu
src/audio/iir*				@singalsu
src/audio/tone.c			@singalsu

# platforms
src/arch/xtensa/*			@tlauda
src/platform/*				@tlauda
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan

# drivers
src/drivers/intel/cavs/dmic.c		@singalsu

# other libs
src/host/*				@ranj063
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao
src/lib/*				@libinyang
src/gdb/*				@mrajwa

# other helpers
test/*					@jajanusz
scripts/*				@xiulipan
rimage/*				@xiulipan

# tools(old soft)
tools/logger/*				@xiulipan
tools/topology/*			@ranj063 @xiulipan
tools/test/*				@xiulipan
tools/test/audio/*			@singalsu
tools/eqctl/*				@singalsu
tools/tune/*				@singalsu

# related fileds
*.am					@jajanusz
*.ac					@jajanusz
*.sh					@jajanusz
*trace.*				@xiulipan

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
