Repository fuyuntsuo/sof, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @singalsu, @ranj063, @bardliao, @xiulipan, @mrajwa, @tlauda, @libinyang, @jajanusz

ipc: structures should all be aligned on 4 bytes
  src/audio/tone.c
  src/include/ipc/channel_map.h
  src/include/ipc/control.h
  src/include/ipc/dai-imx.h
  src/include/ipc/dai-intel.h
  src/include/ipc/dai.h
  src/include/ipc/debug.h
  src/include/ipc/header.h
  src/include/ipc/info.h
  src/include/ipc/pm.h
  src/include/ipc/probe.h
  src/include/ipc/stream.h
  src/include/ipc/topology.h
  src/include/ipc/trace.h
  src/include/ipc/xtensa.h
  src/include/kernel/ext_manifest.h
Owners: @singalsu, @lgirdwood, @plbossart, @mmaka1, @lbetlej, @xiulipan

Math: Added cordicsine function
  src/audio/drc/drc_math_generic.c
  src/include/sof/math/trig.h
  src/math/trig.c
  test/cmocka/src/math/trig/sin_fixed.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @singalsu

doxygen: codecs: exclude 3rd part codec headers from Doxygen
  doc/sof.doxygen.in
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dai: re-allocate DMA channel at dai_config
  src/audio/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

math: add config item for fft library
  src/audio/Kconfig
  src/math/CMakeLists.txt
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @singalsu

fft: add initial fft library
  src/include/sof/audio/coefficients/fft/twiddle.h
  src/include/sof/math/fft.h
  src/math/fft/CMakeLists.txt
  src/math/fft/fft.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

core1 debug
  src/schedule/ll_schedule.c
  src/schedule/timer_domain.c
  tools/topology/development/sof-tgl-nocodec-ci.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

ll_schedule: refine to schedule period task no later than half period
  src/schedule/ll_schedule.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

cmocka: add cmocka unit test for fft library
  test/cmocka/CMakeLists.txt
  test/cmocka/src/math/CMakeLists.txt
  test/cmocka/src/math/fft/CMakeLists.txt
  test/cmocka/src/math/fft/fft.c
  test/cmocka/src/math/fft/input.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dai: re-allocate DMA channel at dai_config
  src/audio/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

Revert "ll_schedule: refine to schedule period task no later than half period"
  src/schedule/ll_schedule.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

Revert "core1 debug"
  src/schedule/ll_schedule.c
  src/schedule/timer_domain.c
  tools/topology/development/sof-tgl-nocodec-ci.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology: sof-tgl-max98373-rt5682-igonr: created igo_nr topology.
  tools/topology/CMakeLists.txt
Owners: @ranj063, @xiulipan

audio: igo_nr: changed email address.
  src/audio/Kconfig
  src/audio/igo_nr/LICENSE
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

ipc: igo_nr: abstract the component creation.
  src/audio/igo_nr/igo_nr.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

config: override: added tigerlake_chrome_igonr.config.
  src/arch/xtensa/configs/override/tigerlake_chrome_igonr.config
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dai: remove extra new lines
  src/include/sof/lib/dai.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dai: abstract the DAI hardware configuration
  src/audio/dai.c
  src/drivers/imx/esai.c
  src/drivers/imx/sai.c
  src/drivers/intel/alh.c
  src/drivers/intel/baytrail/ssp.c
  src/drivers/intel/dmic.c
  src/drivers/intel/haswell/ssp.c
  src/drivers/intel/hda/hda.c
  src/drivers/intel/ssp/ssp.c
  src/include/sof/audio/component.h
  src/include/sof/audio/component_ext.h
  src/include/sof/audio/ipc-config.h
  src/include/sof/ipc/common.h
  src/include/sof/ipc/topology.h
  src/include/sof/lib/dai.h
  src/ipc/CMakeLists.txt
  src/ipc/dai-ipc3.c
  src/ipc/handler-ipc3.c
  src/ipc/helper-ipc3.c
  src/platform/library/lib/dai.c
  src/platform/library/platform.c
  tools/testbench/common_test.c
  zephyr/CMakeLists.txt
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @xiulipan, @bardliao

kpb: validate data size passed in by IPC new.
  src/audio/kpb.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology: Add DRC_EQ def for adopting DRC/EQ pipeline
  tools/topology/CMakeLists.txt
  tools/topology/sof-tgl-max98357a-rt5682.m4
Owners: @ranj063, @xiulipan

platform: cavs: enable IMR restore feature for cAVS 1.8+ platforms
  src/include/sof/debug/debug.h
  src/platform/intel/cavs/platform.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

Math: Trignometry: Add arc sine, cosine, cexp fun
  src/include/sof/math/cordic.h
  src/include/sof/math/trig.h
  src/math/trig.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @singalsu

Working patch
  src/arch/xtensa/configs/override/tigerlake_chrome_igonr.config
  src/audio/igo_nr/igo_nr.c
  tools/topology/topology1/platform/intel/intel-generic-dmic-kwd.m4
  tools/topology/topology1/sof-tgl-max98357a-rt5682.m4
  tools/topology/topology1/sof-tgl-max98373-rt5682.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

icelake: make full use of HP SRAM banks
  src/platform/icelake/icelake.x.in
  src/platform/icelake/include/platform/lib/memory.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

suecreek: make full use of HP SRAM banks
  src/platform/suecreek/include/platform/lib/memory.h
  src/platform/suecreek/suecreek.x.in
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

cannonlake: make full use of HP SRAM banks
  src/platform/cannonlake/cannonlake.x.in
  src/platform/cannonlake/include/platform/lib/memory.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

tigerlake: make full use of HP SRAM banks
  src/platform/tigerlake/include/platform/lib/memory.h
  src/platform/tigerlake/tigerlake.x.in
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

memory: cavs: calculate the runtime heap at run time
  src/platform/intel/cavs/lib/memory.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

apollolake: make full use of HP SRAM banks
  src/platform/apollolake/apollolake.x.in
  src/platform/apollolake/include/platform/lib/memory.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

alloc: trace error when allocation failed with no condition
  src/lib/alloc.c
Owners: @libinyang

trace: Kconfig: disable filtering by default
  src/trace/Kconfig
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

WIP: testbench cache and multithread support2
  src/platform/library/schedule/edf_schedule.c
  src/platform/library/schedule/ll_schedule.c
  src/platform/library/schedule/schedule.c
  tools/testbench/common_test.c
  tools/testbench/include/testbench/common_test.h
  tools/testbench/testbench.c
  tools/testbench/topology.c
  tools/tplg_parser/include/tplg_parser/topology.h
  tools/tplg_parser/tplg_parser.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

pipeline: use buffer_acquire and release flows for coherent buffer access
  src/audio/pipeline/pipeline-params.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

drivers: Intel: IDC: make core power down IDC blocking
  src/arch/xtensa/lib/cpu.c
  src/drivers/intel/cavs/idc.c
  src/include/sof/drivers/idc.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

pipeline: use buffer_acquire and release flows for coherent buffer access
  src/audio/pipeline/pipeline-graph.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

alloc: add more coverage to log all details of the allocation
  src/lib/alloc.c
Owners: @libinyang

coherent updates WIP3
  src/lib/alloc.c
Owners: @libinyang

eqiir: dont free comp_dev in eqiir_free()
  src/audio/eq_iir/eq_iir.c
Owners: @singalsu

comp: make all comp_dev and host data shared
  src/audio/host.c
  src/include/sof/audio/component.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

coherent: add a spin_lock_try version and some other minor fixes
  src/include/sof/coherent.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
src/include/sof/dmic.h			@singalsu
src/include/host/*			@ranj063
src/include/uapi/*			@bardliao
src/include/uapi/ipc/*			@xiulipan @bardliao
src/include/gdb/*			@mrajwa

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/fir*				@singalsu
src/audio/iir*				@singalsu
src/audio/tone.c			@singalsu

# platforms
src/arch/xtensa/*			@tlauda
src/platform/*				@tlauda
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan

# drivers
src/drivers/intel/cavs/dmic.c		@singalsu

# other libs
src/host/*				@ranj063
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao
src/lib/*				@libinyang
src/gdb/*				@mrajwa

# other helpers
test/*					@jajanusz
scripts/*				@xiulipan
rimage/*				@xiulipan

# tools(old soft)
tools/logger/*				@xiulipan
tools/topology/*			@ranj063 @xiulipan
tools/test/*				@xiulipan
tools/test/audio/*			@singalsu
tools/eqctl/*				@singalsu
tools/tune/*				@singalsu

# related fileds
*.am					@jajanusz
*.ac					@jajanusz
*.sh					@jajanusz
*trace.*				@xiulipan

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
