Repository fuyuntsuo/sof, changes with the owners that CODEOWNERS names for each.
All owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @singalsu, @ranj063, @bardliao, @xiulipan, @mrajwa, @tlauda, @libinyang, @jajanusz

drivers: imx: Compile SDMA support as separate driver
  src/drivers/imx/CMakeLists.txt
  src/drivers/imx/Kconfig
  src/platform/Kconfig
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @tlauda

topology1: i.MX: Add topology with DRC component
  tools/topology/topology1/CMakeLists.txt
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

include: drivers: sai: Correct SAI_TDM_SLOTS for imx8ulp
  src/include/sof/drivers/sai.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

include: drivers: sai: Correct SAI_CLOCK_DIV for imx8ulp
  src/include/sof/drivers/sai.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology: Add Waves codec to JSL topology Modify sof-jsl-rt5682 topology so Waves codec can be added to playback in case 'WAVES' is defined. Small refactoring
  tools/topology/topology1/sof-jsl-rt5682.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology1: fix error in LOCAL_CHANNELS_MIN definition
  tools/topology/topology1/sof/pipe-passthrough-capture.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

drivers: sai: Set special config for imx8ulp
  src/drivers/imx/sai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

github actions: update zephyr docker image to 0.18.1
  .github/workflows/zephyr.yml
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

ipc4: add copier module support for ipc4
  src/audio/CMakeLists.txt
  src/audio/Kconfig
  src/audio/copier.c
  src/include/ipc4/copier.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

refactor is_cached() to avoid buggy compiler optimization
  Kconfig.sof
  src/arch/xtensa/drivers/CMakeLists.txt
  src/arch/xtensa/drivers/cache_attr.c
  src/arch/xtensa/include/arch/lib/cache.h
  src/include/sof/drivers/cache_attr.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

zephyr: unify CTX_SAVE handling for Zephyr
  src/ipc/ipc3/handler.c
  zephyr/wrapper.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

drivers: Intel: IDC: make core power down IDC blocking
  src/arch/xtensa/lib/cpu.c
  src/drivers/intel/cavs/idc.c
  src/include/sof/drivers/idc.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

imx: select COMPILER_WORKAROUND_CACHE_ATTR
  src/platform/Kconfig
Owners: @tlauda

component: enhance macro definition of module initialization
  src/include/sof/audio/component.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology1: tgl-max98357a-rt5682 fix ENDPOINT_NAME macro side effect
  tools/topology/topology1/sof-tgl-max98357a-rt5682.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

topology: sof-tgl-max9357a-rt5682: add support for ADL
  tools/topology/topology1/CMakeLists.txt
  tools/topology/topology1/sof-tgl-max98357a-rt5682.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

mailbox: add support for batch-data writing for SW REG
  src/platform/intel/cavs/include/cavs/lib/mailbox.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

xtensa-build-zephyr: add support to build with xtensa XCC
  scripts/xtensa-build-zephyr.sh
Owners: @jajanusz

drivers: amd: renoir: Add drivers for amd/renoir
  src/drivers/amd/renoir/acp_bt_dai.c
  src/drivers/amd/renoir/acp_bt_dma.c
  src/drivers/amd/renoir/acp_dma.c
  src/drivers/amd/renoir/interrupt.c
  src/drivers/amd/renoir/ipc.c
  src/drivers/amd/renoir/timer.c
  src/include/sof/drivers/acp_dai_dma.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

xtensa-build-zephyr: clean up XTENSA_TOOLS_ROOT parsing
  scripts/xtensa-build-zephyr.sh
Owners: @jajanusz

platform: Add support for amd renoir platform
  src/platform/amd/renoir/include/platform/chip_offset_byte.h
  src/platform/amd/renoir/include/platform/chip_registers.h
  src/platform/amd/renoir/include/platform/drivers/idc.h
  src/platform/amd/renoir/include/platform/drivers/interrupt.h
  src/platform/amd/renoir/include/platform/fw_scratch_mem.h
  src/platform/amd/renoir/include/platform/lib/clk.h
  src/platform/amd/renoir/include/platform/lib/cpu.h
  src/platform/amd/renoir/include/platform/lib/dai.h
  src/platform/amd/renoir/include/platform/lib/dma.h
  src/platform/amd/renoir/include/platform/lib/mailbox.h
  src/platform/amd/renoir/include/platform/lib/memory.h
  src/platform/amd/renoir/include/platform/lib/pm_runtime.h
  src/platform/amd/renoir/include/platform/platform.h
  src/platform/amd/renoir/include/platform/trace/trace.h
  src/platform/amd/renoir/lib/clk.c
  src/platform/amd/renoir/lib/dai.c
  src/platform/amd/renoir/lib/dma.c
  src/platform/amd/renoir/lib/memory.c
  src/platform/amd/renoir/platform.c
  src/platform/amd/renoir/renoir.x.in
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @xiulipan

platform: renoir : Add xtensa headers
  src/platform/amd/renoir/include/arch/xtensa/config/core-isa.h
  src/platform/amd/renoir/include/arch/xtensa/config/core-matmap.h
  src/platform/amd/renoir/include/arch/xtensa/config/defs.h
  src/platform/amd/renoir/include/arch/xtensa/config/specreg.h
  src/platform/amd/renoir/include/arch/xtensa/config/system.h
  src/platform/amd/renoir/include/arch/xtensa/config/tie-asm.h
  src/platform/amd/renoir/include/arch/xtensa/config/tie.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

drivers: amd: renoir: Add SP driver support
  src/drivers/amd/renoir/CMakeLists.txt
  src/drivers/amd/renoir/acp_sp_dai.c
  src/drivers/amd/renoir/acp_sp_dma.c
  src/platform/amd/renoir/include/platform/lib/dma.h
  src/platform/amd/renoir/lib/dai.c
  src/platform/amd/renoir/lib/dma.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

platform: Add build support for amd renoir platform
  src/drivers/CMakeLists.txt
  src/drivers/amd/CMakeLists.txt
  src/drivers/amd/renoir/CMakeLists.txt
  src/platform/CMakeLists.txt
  src/platform/Kconfig
  src/platform/amd/CMakeLists.txt
  src/platform/amd/renoir/CMakeLists.txt
  src/platform/amd/renoir/lib/CMakeLists.txt
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @tlauda

renoir: Add support for AMD renoir platform
  src/arch/xtensa/CMakeLists.txt
  src/arch/xtensa/configs/renoir_defconfig
Owners: @tlauda, @lgirdwood, @plbossart, @mmaka1, @lbetlej

drivers: amd: renoir: Add dmic driver support
  src/drivers/amd/renoir/CMakeLists.txt
  src/drivers/amd/renoir/acp_dmic_dai.c
  src/drivers/amd/renoir/acp_dmic_dma.c
  src/platform/amd/renoir/include/platform/lib/dma.h
  src/platform/amd/renoir/lib/dai.c
  src/platform/amd/renoir/lib/dma.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dai: support for amd specific dai id's
  src/include/ipc/dai.h
  src/include/sof/lib/dma.h
  src/ipc/ipc3/dai.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

scripts: add renoir support
  scripts/xtensa-build-all.sh
Owners: @jajanusz

platform: amd: renoir: Add BT mode based on flags
  src/platform/amd/renoir/lib/dai.c
  src/platform/amd/renoir/lib/dma.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

Add AMD platform specific changes
  src/arch/xtensa/configs/renoir_defconfig
  src/audio/Kconfig
  src/audio/host.c
  src/ipc/dma-copy.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej, @xiulipan, @bardliao

Support RTNR on Tigerlake platform
  src/arch/xtensa/configs/override/tigerlake_chrome_rtnr.config
  src/audio/CMakeLists.txt
  src/audio/Kconfig
  src/audio/rtnr/CMakeLists.txt
  src/audio/rtnr/rtklib/tgl/README.txt
  src/audio/rtnr/rtnr.c
  src/include/sof/audio/rtnr/rtklib/include/README.txt
  src/include/sof/audio/rtnr/rtklib/include/RTK_MA_API.h
  src/include/sof/audio/rtnr/rtnr.h
  src/include/user/rtnr.h
  src/platform/tigerlake/include/platform/lib/memory.h
  tools/topology/topology1/CMakeLists.txt
  tools/topology/topology1/m4/rtnr.m4
  tools/topology/topology1/platform/intel/intel-generic-dmic.m4
  tools/topology/topology1/sof-tgl-max98357a-rt5682-rtnr-16kHz.m4
  tools/topology/topology1/sof/pipe-rtnr-capture-16khz.m4
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

dw-dma: set LLI alignment to platform specific
  src/include/sof/drivers/dw-dma.h
  src/platform/tigerlake/include/platform/drivers/dw-dma.h
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

Host component DMA copy the whole copy_bytes.
  src/audio/host.c
Owners: @lgirdwood, @plbossart, @mmaka1, @lbetlej

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @lgirdwood @plbossart @mmaka1 @lbetlej

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

# include files
src/include/sof/dmic.h			@singalsu
src/include/host/*			@ranj063
src/include/uapi/*			@bardliao
src/include/uapi/ipc/*			@xiulipan @bardliao
src/include/gdb/*			@mrajwa

# audio component
src/audio/src*				@singalsu
src/audio/eq*				@singalsu
src/audio/fir*				@singalsu
src/audio/iir*				@singalsu
src/audio/tone.c			@singalsu

# platforms
src/arch/xtensa/*			@tlauda
src/platform/*				@tlauda
src/platform/baytrail/*			@xiulipan
src/platform/haswell/*			@xiulipan

# drivers
src/drivers/intel/cavs/dmic.c		@singalsu

# other libs
src/host/*				@ranj063
src/math/*				@singalsu
src/ipc/*				@xiulipan @bardliao
src/lib/*				@libinyang
src/gdb/*				@mrajwa

# other helpers
test/*					@jajanusz
scripts/*				@xiulipan
rimage/*				@xiulipan

# tools(old soft)
tools/logger/*				@xiulipan
tools/topology/*			@ranj063 @xiulipan
tools/test/*				@xiulipan
tools/test/audio/*			@singalsu
tools/eqctl/*				@singalsu
tools/tune/*				@singalsu

# related fileds
*.am					@jajanusz
*.ac					@jajanusz
*.sh					@jajanusz
*trace.*				@xiulipan

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
